body {
    font-family: 'Roboto', sans-serif;
    color: #454545;
    overflow-y: scroll; 
}

h1 {
    font-size: 50px;
    font-weight: 300;
}

h2 {
    font-weight: 500;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}

/***** navigation bar *****/

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-nav, .auth-nav, .auth-cook-nav {
    display: flex;
    justify-content: space-around;
    margin-left: 80%;
    position: absolute;
}

.login-link {
    margin-top: 2px;
}

.signup-link {
    background-color: #4F9A46;
    margin-left: 30px;
    padding: 2px 15px 2px 15px;
    border-radius: 20px;
}

.signup-link a {
    color: white;
}

/***** landing page *****/

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    margin-top: 60px;
}

.subtitle {
    font-size: 20px;
}

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./../img/meal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
    margin-top: 60px;
    padding-top: 60px;
    font-size: 20px;
    font-weight: 500;
}

.search-loc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    width: 220px;
    height: 40px;
    border: 2px solid #4F9A46;
    border-radius: 20px;
    color: #797979;
    margin-top: 20px;
}


/***** search *****/

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    margin-top: 20px;
}

.results {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.result {
    margin-top: 40px;
    margin-left: 60px;
    /* width: 300px; */
    /* flex: 0 0 25%;  */
}

.result img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.result-name {
    font-size: 20px;
}

.result-details {
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
}

.allergens {
    background-color: #FF7C02;
    margin-left: 30px;
    padding: 2px 15px 2px 15px;
    border-radius: 20px;
    color: white;
    font-size: 12px;

.recipe-card-row {
    margin-bottom: 15px;
}